@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
html {
  background-color: rgb(155, 223, 255);
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Amatic SC', 'Courier New', cursive;
  font-size: 30px;
}
audio {
  width: 700px;
  margin-top: 200px;
}
table{
  width: 800px;
}
div {
  width: 500px;
  margin: 0 auto;
}
tbody {
  width: 800px;
}
/*#artist {
  width: 110px;
  padding: 1px;
}*/
th {
  font-size: 50px;
  text-align: left;

  width:200px;
}
tr {
  width: 400px;
}
td{
  /*width: 50px;*/
}

.songs {
  width: 200px;
}

#count {
  width: 50px;
/*  padding-left: 60px;
*/  color: #ED6262;
}

#up {
  border: 1px solid lightgrey;
  border-radius: 50%;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 100px;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

.queueTable #artist {
  width: 103px;
}
/*#artist {
  width: 103px;
}
*/
#queue {
  border: 1px solid lightgrey;
  border-radius: 50%;
  margin-bottom: 5px;
  /*width: 95px;*/
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

#playlist{
  margin-left:50px;
}

button:hover {
  color: white;
}

button:focus {
  outline: 0;
}

#relaxPic {
  position: fixed;
  z-index: -1;  
  left: 700px;
  top: -40px;
}